.modal2 {
  position: fixed;
  width: 90%;
  left: 5%;
  top: 20vh;
  display: block;
  background: var(--highlight-white);
  border-radius: 5px;
  z-index: 500;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.modal2__header {
  border-bottom: 2px solid var(--light-purple);
}

.modal2__header h1 {
    font-size: 1.5rem;
    color: var(--light-purple);
    margin: 1rem;
}

.modal2__content {
    padding: 1rem;
}

.modal2__actions {
    padding: 1rem;
    text-align: right;
}

.modal2__actions button {
    margin: 0 0.5rem;
}

@media (min-width: 768px) {
    .modal2 {
        width: 40rem;
        left: calc((100% - 40rem) / 2);
    }
}