.fade-enter {
  opacity: 0;
}
.fade-enter-active {

  animation: fadeEnter 1s ease-out;
}

.fade-enter-done {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  animation: fadeExit 1s ease-out;
}

.fade-exit-done {
  opacity: 0;
}

@keyframes fadeEnter {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeExit {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}
